* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top {
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
}
.wrapper .top .header {
  margin: 0 auto;
  width: 100%;
  min-height: 223px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header .menu {
  margin: 0 auto;
  width: 100%;
  height: 75px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header .menu .menu-box {
  margin: 0 auto;
  width: 71.25%;
  height: 75px;
  background-color: #222;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box {
    width: 100%;
  }
}
.wrapper .top .header .menu .menu-box__left {
  margin: 0;
  padding-top: 18px;
  width: 50%;
  background-color: #222;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top .header .menu .menu-box__left__logo {
  border: 1px;
}
@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box__left__logo {
    padding-left: 16px;
  }
}
.wrapper .top .header .menu .menu-box__left__search-box {
  margin: 0;
  padding-left: 21px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top .header .menu .menu-box__left__search-box__icon {
  margin: 0 auto;
}
.wrapper .top .header .menu .menu-box__left__search-box__content {
  margin: 0 20 0 auto;
  padding-left: 20px;
  display: none;
}
.wrapper .top .header .menu .menu-box__left__search-box__content__text {
  margin-right: -1px;
  padding-left: 20px;
  width: 156px;
  height: 29px;
  background-color: #e1e1e1;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  text-align: left;
}
.wrapper .top .header .menu .menu-box__left__search-box__content__submit {
  width: 50px;
  height: 29px;
  margin-left: -1px;
  background-color: #f16d7f;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}
.wrapper .top .header .menu .menu-box__left__search-box__content {
  transition: all 1s ease;
}
.wrapper .top .header .menu .menu-box__left__search-box:hover .menu-box__left__search-box__content {
  display: block;
}
.wrapper .top .header .menu .menu-box__right {
  padding-top: 30px;
  width: 50%;
  background-color: #222;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top .header .menu .menu-box__right__burger-box {
  position: relative;
  display: inline-block;
  z-index: 1;
}
@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box__right__burger-box {
    padding-right: 16px;
  }
}
.wrapper .top .header .menu .menu-box__right__burger-box__icon {
  margin: 0 auto;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content {
  position: relative;
  width: 232px;
  margin-top: 19px;
  padding-left: 33px;
  text-decoration: none;
  list-style-type: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  display: none;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__close-button {
  background-color: #fff;
  border: none;
  position: absolute;
  top: 16px;
  right: 17px;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #000;
  margin-top: 37px;
  padding-top: 9px;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__section {
  padding-top: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #f16d7f;
  list-style-type: none;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__section__title {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #f16d7f;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__section__rows {
  padding-left: 19px;
  padding-top: 12px;
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__section__rows__row {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  color: #6f6e6e;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__section__rows__row:hover {
  color: #f16d7f;
}
.wrapper .top .header .menu .menu-box__right__burger-box:hover .menu-box__right__burger-box__content {
  display: block;
}
.wrapper .top .header .menu .menu-box__right__user {
  margin-left: 33px;
}
@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box__right__user {
    display: none;
  }
}
.wrapper .top .header .menu .menu-box__right__cart {
  margin-left: 33px;
  position: relative;
}
@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box__right__cart {
    display: none;
  }
}
.wrapper .top .header .menu .menu-box__right__cart__num {
  padding-top: 0;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  left: 22px;
  top: -11px;
  border-radius: 20px;
  background-color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
}
.wrapper .top .header .header-content {
  margin: 0 auto;
  width: 100%;
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top .header .header-content .header-content-box {
  margin: 0 auto;
  width: 71.25%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top .header .header-content .header-content-box__left {
  width: 50%;
  height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header .header-content .header-content-box__left__heading {
  vertical-align: middle;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #f16d7f;
  align-content: flex-start;
}
.wrapper .top .header .header-content .header-content-box__right {
  width: 50%;
  height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header .header-content .header-content-box__right__path {
  width: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style-type: none;
}
.wrapper .top .header .header-content .header-content-box__right__path__path-point {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #636363;
}
.wrapper .top .header .header-content .header-content-box__right__path__path-point__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}
.wrapper .top .header .header-content .header-content-box__right__path__path-point:last-child .header-content-box__right__path__path-point__link {
  font-weight: 700;
  color: #f16d7f;
}
.wrapper .top .header .header-content .header-content-box__right__path__path-point:hover .header-content-box__right__path__path-point__link {
  color: #f16d7f;
}
.wrapper .top .main-box {
  margin: 0 auto;
  width: 71.25%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #ffffff;
}
.wrapper .top .main-box .reg-form {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top .main-box .reg-form__left {
  margin: 0 auto;
  padding-top: 64px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .main-box .reg-form__left__top {
  width: 100%;
  height: auto;
}
.wrapper .top .main-box .reg-form__left__top__heading {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222;
}
.wrapper .top .main-box .reg-form__left__top__user-data {
  margin-top: 21px;
  padding-left: 17px;
  width: 100%;
  height: 44px;
  color: #000;
  border: 1px solid #a4a4a4;
}
.wrapper .top .main-box .reg-form__left__top__user-data::-moz-placeholder {
  color: #b1b1b1;
}
.wrapper .top .main-box .reg-form__left__top__user-data::placeholder {
  color: #b1b1b1;
}
.wrapper .top .main-box .reg-form__left__top__user-sex {
  margin-top: 31px;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  color: #000;
}
.wrapper .top .main-box .reg-form__left__top__user-sex__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top .main-box .reg-form__left__top__user-sex__list__sex {
  margin-right: 10px;
  margin-left: 20px;
}
.wrapper .top .main-box .reg-form__left__top__list:first-child {
  margin-left: 0;
}
.wrapper .top .main-box .reg-form__left__bottom {
  margin-top: 33px;
  width: 100%;
  height: auto;
}
.wrapper .top .main-box .reg-form__left__bottom__heading {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222;
}
.wrapper .top .main-box .reg-form__left__bottom__user-data {
  margin-top: 21px;
  padding-left: 17px;
  width: 100%;
  height: 44px;
  color: #000;
  border: 1px solid #a4a4a4;
}
.wrapper .top .main-box .reg-form__left__bottom__user-data::-moz-placeholder {
  color: #b1b1b1;
}
.wrapper .top .main-box .reg-form__left__bottom__user-data::placeholder {
  color: #b1b1b1;
}
.wrapper .top .main-box .reg-form__left__bottom__parag {
  margin-top: 16px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #222;
}
.wrapper .top .main-box .reg-form__left__button-box {
  margin: 39px auto 95px 0;
  width: inherit;
  min-height: 50px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top .main-box .reg-form__left__button-box__button {
  margin: 0;
  padding: 16px 29px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  text-decoration: none;
}
.wrapper .top .main-box .reg-form__left__button-box__button:hover {
  color: #f16d7f;
  background-color: #ffffff;
}
.wrapper .top .main-box .reg-form__right {
  margin: 0 auto;
  padding-top: 64px;
  padding-left: 120px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top .main-box .reg-form__right__heading {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}
.wrapper .top .main-box .reg-form__right__parag {
  margin-top: 22px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
}
.wrapper .top .main-box .reg-form__right__list {
  margin-top: 21px;
  list-style-image: url(../../assets/icons/marker-bird.svg);
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
}
.wrapper .top .main-box .reg-form__right__list__row {
  margin-left: 25px;
  margin-bottom: 16px;
}
.wrapper .footer {
  margin: 0 auto;
  width: 100%;
  min-height: 341px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .subscribe {
  margin: 0 auto;
  width: 100%;
  min-height: 448px;
  background-image: url(../../assets/images/backgrounds/footer-back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .footer .subscribe .subscribe-box {
  width: 71.25%;
  min-height: 448px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    min-height: 693px;
    width: 100%;
  }
}
.wrapper .footer .subscribe .subscribe-box__left {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__left {
    width: 100%;
  }
}
.wrapper .footer .subscribe .subscribe-box__left__img {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-self: flex-start;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__left__img {
    align-self: center;
  }
}
.wrapper .footer .subscribe .subscribe-box__left__img__photo {
  margin: 0 auto;
  padding-top: 86px;
  padding-bottom: 30px;
  align-self: center;
}
.wrapper .footer .subscribe .subscribe-box__left__parag {
  align-self: flex-start;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__left__parag {
    align-self: center;
  }
}
.wrapper .footer .subscribe .subscribe-box__left__parag__text {
  width: 360px;
  text-align: center;
  padding-bottom: 126px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #222224;
}
.wrapper .footer .subscribe .subscribe-box__right {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__right {
    justify-content: center;
    width: 100%;
  }
}
.wrapper .footer .subscribe .subscribe-box__right__text {
  width: auto;
  height: auto;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__right__text {
    width: 100%;
  }
}
.wrapper .footer .subscribe .subscribe-box__right__text__head-3 {
  padding-top: 150px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #222224;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__right__text__head-3 {
    padding-top: 0px;
    font-size: 18px;
    line-height: 28px;
  }
}
.wrapper .footer .subscribe .subscribe-box__right__text__head-4 {
  padding-bottom: 32px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #222224;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__right__text__head-4 {
    white-space: nowrap;
  }
}
.wrapper .footer .subscribe .subscribe-box__right__submit {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .subscribe .subscribe-box__right__submit__mail {
  max-width: 323px;
  height: 49px;
  background-color: #e1e1e1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  padding-top: 7px;
  padding-left: 22px;
}
.wrapper .footer .subscribe .subscribe-box__right__submit__button {
  width: 100px;
  height: auto;
  background-color: #f16d7f;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
  padding-top: 7px;
  text-align: center;
}
.wrapper .footer .copyright {
  margin: 0 auto;
  width: 100%;
  min-height: 79px;
}
.wrapper .footer .copyright .copyright-box {
  margin: 0 auto;
  width: 71.25%;
  height: 79px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .wrapper .footer .copyright .copyright-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column-reverse;
  }
}
.wrapper .footer .copyright .copyright-box__allrights {
  width: auto;
  margin: auto 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #fbfbfb;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
@media (max-width: 375px) {
  .wrapper .footer .copyright .copyright-box__allrights {
    text-align: center;
  }
}
.wrapper .footer .copyright .copyright-box__socials {
  width: 150px;
  height: auto;
  margin: auto 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .wrapper .footer .copyright .copyright-box__socials {
    margin: auto;
  }
}
.wrapper .footer .copyright .copyright-box__socials__link {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .copyright .copyright-box__socials__link__img {
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: #000;
  background-color: #fff;
  border: none;
  text-align: center;
}
.wrapper .footer .copyright .copyright-box__socials__link:hover .copyright-box__socials__link__img {
  background-color: #f16d7f;
}/*# sourceMappingURL=registration.css.map */