$width-site-maket: 1600px;
$width-box-maket: 1140px;
$width-site: 100%;
$width-box: ($width-box-maket/$width-site-maket) * $width-site;
$height-site: 100vh;
$height-menu: 75px;
$height-slide: 764px;
$height-header: 148px;
$height-main-heading: 132px;
$color-site: #ffffff;
$color-menu: #222222;
$color-slide: #f1e4e6;
$color-header: #f8f3f4;
$color-link-active: #f16d7f;
$color-path: #636363;
$color-filter: #6f6e6e;
$cart-size-w: 32px;
$cart-size-h: 29px;
$num-size-w: 20px;
$num-size-h: 20px;
$num-position-top: $num-size-h/2;
@media (min-width: 376px) and (max-width: 768px) {
  $width-site-maket: 768px;
  $width-box-maket: 768px;
  $width-site: 100%;
  $height-menu: 74px;
  $height-slide: 368px;
}
@media (max-width: 375px) {
  $width-site-maket: 375px;
  $width-box-maket: 375px;
  $width-site: 100%;
  $height-menu: 74px;
  $height-slide: 363px;
}
@mixin media-tablet {
  @media (min-width: 375px) and (max-width: 768px) {
    @content;
  }
}
@mixin media-mobile {
  @media (max-width: 375px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.wrapper {
  margin: 0 auto;
  width: $width-site;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .top {
    margin: 0 auto;
    width: $width-site;
    flex-grow: 1;
    .header {
      margin: 0 auto;
      width: $width-site;
      min-height: $height-menu + $height-slide;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .menu {
        margin: 0 auto;
        width: $width-site;
        height: $height-menu;
        background-color: #222;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .menu-box {
          margin: 0 auto;
          width: $width-box;
          height: $height-menu;
          background-color: #222;
          display: flex;
          justify-content: space-between;
          @include media-mobile() {
            width: $width-site;
          }
          .mb-left {
            margin: 0;
            padding-top: 18px;
            width: 50%;
            background-color: #222;
            display: flex;
            justify-content: flex-start;
            .logo {
              border: 1px;
              @include media-mobile() {
                padding-left: 16px;
              }
            }
            .search-box {
              margin: 0;
              padding-left: 21px;
              padding-top: 10px;
              display: flex;
              justify-content: space-between;

              .search-content {
                margin: 0 20 0 auto;
                padding-left: 20px;
                display: none;
                .search-text {
                  margin-right: -1px;
                  padding-left: 20px;
                  width: 156px;
                  height: 29px;
                  background-color: #e1e1e1;
                  border: none;
                  border-top-left-radius: 30px;
                  border-bottom-left-radius: 30px;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  color: #222224;
                  text-align: left;
                }
                .search-submit {
                  width: 50px;
                  height: 29px;
                  margin-left: -1px;
                  background-color: $color-link-active;
                  border: none;
                  border-top-right-radius: 30px;
                  border-bottom-right-radius: 30px;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  color: #ffffff;
                  text-align: center;
                }
              }
              .search-content {
                transition: all 1s ease;
              }
            }
            .search-box:hover .search-content {
              display: block;
            }
          }
          .mb-right {
            padding-top: 30px;
            width: 50%;
            background-color: #222;
            display: flex;
            justify-content: flex-end;
            .burger-box {
              position: relative;
              display: inline-block;
              z-index: 1;
              @include media-mobile() {
                padding-right: 16px;
              }
              .burger-content {
                position: relative;
                width: 232px;
                margin-top: 19px;

                padding-left: 33px;
                text-decoration: none;
                list-style-type: none;
                background-color: #fff;
                position: absolute;
                left: 0;
                display: flex;
                flex-direction: column;
                display: none;
                .close-button {
                  background-color: #fff;
                  border: none;
                  position: absolute;
                  top: 16px;
                  right: 17px;
                }
                .bc-heading {
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 17px;
                  color: #000;
                  margin-top: 37px;
                  padding-top: 9px;
                }
                .bc-section {
                  padding-top: 24px;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  color: $color-link-active;
                  list-style-type: none;
                  .bc-section-title {
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    color: $color-link-active;
                  }
                  .bc-section-rows {
                    padding-left: 19px;
                    padding-top: 12px;
                    text-decoration: none;
                    list-style-type: none;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    .bc-row {
                      text-decoration: none;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 17px * 2;
                      color: #6f6e6e;
                    }
                    .bc-row:hover {
                      color: $color-link-active;
                    }
                  }
                }
              }
            }
            .burger-box:hover .burger-content {
              display: block;
            }

            .user {
              margin-left: 33px;
              @include media-mobile() {
                display: none;
              }
            }
            .cart {
              margin-left: 33px;
              position: relative;
              @include media-mobile() {
                display: none;
              }
              .num {
                padding-top: 0;
                width: $num-size-w;
                height: $num-size-h;
                border: none;
                position: absolute;
                left: ($cart-size-w)-1/2 * ($num-size-w);
                top: -(($num-size-h)-9px);
                border-radius: $num-size-h;
                background-color: $color-link-active;
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                color: #ffffff;
              }
            }
          }
        }
      }
      .slide {
        margin: 0 auto;
        width: $width-site;
        min-height: $height-slide;
        background-color: $color-slide;
        .slide-box {
          margin: 0 auto;
          width: $width-site;
          min-height: $height-slide;
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
          @include media-mobile() {
            justify-content: center;
            height: $height-slide;
          }
          .sb-left {
            width: 50%;
            height: inherit;
            background-image: url(img/header-img-1.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @include media-tablet() {
              width: 55%;
            }
            @include media-mobile() {
              display: none;
            }
          }
          .sb-right {
            margin: 0 auto;
            width: 50%;
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include media-tablet() {
              width: 45%;
            }
            @include media-mobile() {
              width: 100%;
            }
            .title-box {
              width: auto;
              height: 12%;
              display: flex;
              justify-content: start;
              @include media-mobile() {
                justify-content: center;
              }
              .art-line {
                width: 12px;
                background-color: $color-link-active;
              }
              .title {
                max-width: 377px;
                height: 92px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-sizing: border-box;

                .h-1 {
                  max-width: 377px;
                  height: 50%;
                  font-weight: 900;
                  font-size: 48px;
                  line-height: 58px;
                  color: #222222;
                  margin: 0 auto;
                  margin-left: 16px;
                  @include media-tablet() {
                    font-size: 44px;
                    line-height: 53px;
                  }
                }
                .h-2 {
                  max-width: 377px;
                  height: 50%;
                  padding-top: 8px;
                  font-weight: 700;
                  font-size: 32px;
                  color: #222222;
                  white-space: nowrap;
                  margin: 0 auto;
                  margin-left: 16px;
                  @include media-tablet() {
                    font-size: 24px;
                    line-height: 29px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .main-box {
      margin: 0 auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;

      .offer {
        margin: 65px auto 0;
        width: $width-site;
        height: auto;
        background-color: $color-site;
        @include media-mobile() {
          margin: 32px auto 0;
        }
        .offer-box {
          width: $width-box;
          height: auto;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          box-sizing: border-box;
          .offer-top {
            margin: 0 auto;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            @include media-mobile() {
              flex-direction: column;
            }
            .card {
              max-width: 360px;
              height: auto;
              position: relative;
              margin-right: 30px;
              @include media-mobile() {
                margin-top: 32px;
                margin-right: 0;
              }
              .card-img {
                width: 100%;
                height: auto;
              }
              .card-text {
                margin: auto;
                width: 100%;
                position: absolute;
                top: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .card-text-tag {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 19px;
                  color: #fff;
                  text-align: center;
                }
                .card-text-link {
                  font-size: 24px;
                  font-weight: 700;
                  line-height: 29px;
                  color: $color-link-active;
                  text-decoration: none;
                  text-align: center;
                }
              }
            }
            .last {
              margin-right: 0;
            }
          }
          .offer-bottom {
            margin: 36px auto 0;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            @include media-mobile() {
              z-index: 99;
              max-width: 360px;
              height: 111px;
            }
            flex-grow: 1;
            .card-bottom {
              width: inherit;
              height: inherit;
              position: relative;
              @include media-mobile() {
                background-image: url(img/card-img-4-accesories.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              }
              .card-bottom-img {
                width: 100%;
                height: auto;
                @include media-mobile() {
                  display: none;
                }
              }
              .card-bottom-text {
                margin: auto;
                width: 100%;
                position: absolute;
                top: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .card-bottom-text-tag {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 19px;
                  color: #fff;
                  text-align: center;
                }
                .card-bottom-text-link {
                  font-size: 24px;
                  font-weight: 700;
                  line-height: 29px;
                  color: $color-link-active;
                  text-decoration: none;
                  text-align: center;
                }
              }
            }
          }
        }
      }

      .products {
        width: $width-site;
        height: auto;
        margin: 96px auto 0;
        @include media-mobile() {
          margin: 64 auto 0;
        }
        .products-box {
          width: $width-box;
          min-height: 582px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          @include media-mobile() {
            min-height: auto;
            margin: auto;
          }
          .pb-heading {
            margin: 0 auto;
            width: $width-box;
            height: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            .h-3 {
              font-size: 30px;
              font-weight: 400;
              line-height: 36px;
              color: #222;
            }
            .h-3-parag {
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              color: #9f9f9f;
              padding-top: 6px;
            }
          }
          .pb-items {
            margin: 48px 0 0;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            box-sizing: border-box;
            .item {
              width: 30%;
              height: 100%;
              margin-bottom: 30px;
              background-color: #f8f8f8;
              display: flex;
              flex-direction: column;
              @include media-tablet() {
                width: 47%;
              }
              @include media-mobile() {
                width: 100%;
              }
              .item-img {
                width: 100%;
                height: auto;
                position: relative;
                &__img {
                  width: 100%;
                  height: auto;
                }
                .overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: rgba($color: #000000, $alpha: 0);
                  transition: background 0.5s ease;
                }
                .item-cart-button {
                  margin: 0 auto;
                  position: absolute;
                  min-width: 40%;
                  display: flex;
                  justify-content: space-around;
                  box-sizing: border-box;
                  left: 25%;
                  top: 45%;
                  border: 1px solid $color-site;
                  opacity: 0;
                  .item-cart-icon {
                    width: 19%;
                    padding: 11px 11px 9px 13px;
                  }
                  .item-cart-link {
                    width: 100%;
                    padding-right: 13px;
                    padding-top: 14px;
                    text-decoration: none;
                    text-align: center;
                    white-space: nowrap;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    color: $color-site;
                    transition: opacity 0.5s ease;
                  }
                }
              }

              .item-img:hover .overlay {
                display: block;
                background: rgba($color: #000000, $alpha: 0.5);
              }
              .item-img:hover .item-cart-button {
                opacity: 1;
              }
              .item-content {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .h-4 {
                  margin-left: 17px;
                  font-size: 13px;
                  font-weight: 400;
                  line-height: 16px;
                  color: #000000;
                  padding-top: 24px;
                  .h-4-link {
                    text-decoration: none;
                    color: #000000;
                  }
                }
                .h-4-parag {
                  margin-left: 17px;
                  font-size: 14px;
                  font-weight: 300;
                  line-height: 17px;
                  color: #5d5d5d;
                  padding-top: 13px;
                }
              }
              .price-text {
                margin-left: 17px;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                color: $color-link-active;
                padding-top: 18px;
                padding-bottom: 20px;
              }
            }
          }

          .pb-button-box {
            margin: 48px auto 95px;
            width: $width-box;
            min-height: 47px;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            @include media-tablet() {
              margin: 33px auto 65px;
            }

            .pb-button {
              margin: 0 auto;
              padding: 14px 38px;
              text-align: center;
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              color: #f26376;
              border: 1px solid #ff6a6a;
              text-decoration: none;
            }
          }
          .pb-button-box:hover .pb-button {
            background-color: $color-link-active;
            color: #fff;
          }
        }
      }
    }
  }
  .footer {
    margin: 0 auto;
    width: $width-site;
    min-height: 341px;
    background-color: $color-menu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .feature {
      margin: 0 auto;
      width: $width-site;
      min-height: 341px;
      background-color: #222;
      .feature-box {
        width: $width-box;
        min-height: 341px;
        margin: 0 auto;
        background-color: #222;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        @include media-tablet() {
          flex-direction: column;
          justify-content: space-around;
          min-height: 610px;
        }
        .fb-block {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .fb-blok-img {
            margin: 0 auto;
            padding-top: 103px;
            align-self: center;
            @include media-tablet() {
              padding-top: 48px;
            }
          }
          .fb-block-link {
            margin: 0 auto;
            padding-top: 28px;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: #fbfbfb;
            text-decoration: none;
            align-items: center;
          }
          .fb-block-text {
            margin: 0 auto;
            padding-top: 16px;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            color: #fbfbfb;
            text-align: center;
          }
        }
      }
    }
    .subscribe {
      margin: 0 auto;
      width: $width-site;
      min-height: 448px;
      background-image: url(img/footer-back.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      .subscribe-box {
        width: $width-box;
        min-height: 448px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        @include media-tablet() {
          flex-direction: column;
          justify-content: center;
          min-height: 693px;
          width: $width-site;
        }
        .sb-left {
          width: 50%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          @include media-tablet() {
            width: $width-site;
          }
          .sb-img {
            width: 360px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: flex-start;
            @include media-tablet() {
              align-self: center;
            }
            .sb-photo {
              margin: 0 auto;
              padding-top: 86px;
              padding-bottom: 30px;
              align-self: center;
            }
          }
          .sb-parag {
            align-self: flex-start;
            @include media-tablet() {
              align-self: center;
            }
            .sb-parag-text {
              width: 360px;
              text-align: center;
              padding-bottom: 126px;
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;
              color: #222224;
            }
          }
        }
        .sb-right {
          width: 50%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          box-sizing: border-box;
          @include media-tablet() {
            justify-content: center;
            width: $width-site;
          }
          .sb-text {
            width: auto;
            height: auto;
            @include media-tablet() {
              width: $width-site;
            }
            .sb-h-3 {
              padding-top: 150px;
              text-align: center;
              font-size: 24px;
              font-weight: 700;
              line-height: 40px;
              color: #222224;
              @include media-tablet() {
                padding-top: 0px;
                font-size: 18px;
                line-height: 28px;
              }
            }
            .sb-h-4 {
              padding-bottom: 32px;
              text-align: center;
              font-size: 18px;
              font-weight: 400;
              line-height: 30px;
              color: #222224;
              @include media-tablet() {
                white-space: nowrap;
              }
            }
          }

          .sb-submit {
            width: auto;
            height: auto;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            .sb-mail {
              max-width: 323px;
              height: 49px;
              background-color: #e1e1e1;
              border-top-left-radius: 30px;
              border-bottom-left-radius: 30px;
              border: none;
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              color: #222224;
              opacity: 0.67;
              padding-top: 7px;
              padding-left: 22px;
            }
            .sb-button {
              width: 100px;
              height: auto;
              background-color: $color-link-active;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;
              border: none;
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              color: #ffffff;
              padding-top: 7px;
              text-align: center;
            }
          }
        }
      }
    }
    .copyright {
      margin: 0 auto;
      width: $width-site;
      min-height: 79px;
      .copyright-box {
        margin: 0 auto;
        width: $width-box;
        height: 79px;
        display: flex;
        justify-content: space-between;
        @include media-mobile() {
          flex-direction: column-reverse;
        }
        .allrights {
          width: auto;
          margin: auto 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          color: #fbfbfb;
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          @include media-mobile() {
            text-align: center;
          }
        }
        .socials {
          width: 150px;
          height: auto;
          margin: auto 0;
          display: flex;
          justify-content: space-between;
          @include media-mobile() {
            margin: auto;
          }
          .sc-link {
            margin: 0;
            padding: 0;
            width: 32px;
            height: 32px;
            background-color: #ffffff;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .fa-facebook {
              width: 32px;
              height: 32px;
              font-size: 16px;
              line-height: 32px;
              color: #000;
              background-color: #fff;
              border: none;
              text-align: center;
            }
            .fa-facebook:hover {
              color: #fff;
              background-color: $color-link-active;
            }
            .fa-instagram {
              width: 32px;
              height: 32px;
              font-size: 16px;
              line-height: 32px;
              color: #222;
              background-color: #fff;
              border: none;
              text-align: center;
            }
            .fa-instagram:hover {
              color: #fff;
              background-color: $color-link-active;
            }
            .fa-pinterest-p {
              width: 32px;
              height: 32px;
              font-size: 16px;
              line-height: 32px;
              color: #222;
              background-color: #fff;
              text-align: center;
            }
            .fa-pinterest-p:hover {
              color: #fff;
              background-color: $color-link-active;
            }
            .fa-twitter {
              width: 32px;
              height: 32px;
              font-size: 16px;
              line-height: 32px;
              color: #222;
              background-color: #fff;
              text-align: center;
            }
            .fa-twitter:hover {
              color: #fff;
              background-color: $color-link-active;
            }
          }
        }
      }
    }
  }
}
