@charset "UTF-8";
/*$width-site:100%;*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .top {
  margin: 0 auto;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .top .header {
  margin: 0 auto;
  width: 100%;
  min-height: 839px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .top .header .menu {
  margin: 0 auto;
  width: 100%;
  height: 75px;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*border: 1px solid white;*/
}

.wrapper .top .header .menu .menu-box {
  margin: 0 auto;
  width: 71.25%;
  height: 75px;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*border: 1px solid blue;*/
}

@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box {
    width: 100%;
  }
}

.wrapper .top .header .menu .menu-box .mb-left {
  margin: 0;
  padding-top: 18px;
  width: 50%;
  /*height: $height-menu;*/
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /*border: 1px solid yellow;*/
}

.wrapper .top .header .menu .menu-box .mb-left .logo {
  /*padding-top: 18px;*/
  /*border: 1px solid green;*/
  border: 1px;
}

@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box .mb-left .logo {
    padding-left: 16px;
  }
}

.wrapper .top .header .menu .menu-box .mb-left .search-box {
  margin: 0;
  padding-left: 21px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .top .header .menu .menu-box .mb-left .search-box .search-content {
  margin: 0 20 0 auto;
  padding-left: 20px;
  display: none;
  /*изменить на none для ховера*/
}

.wrapper .top .header .menu .menu-box .mb-left .search-box .search-content .search-text {
  margin-right: -1px;
  padding-left: 20px;
  width: 156px;
  height: 29px;
  /*margin-left: 20px;*/
  /*margin-top: 10px;   */
  background-color: #E1E1E1;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  text-align: left;
}

.wrapper .top .header .menu .menu-box .mb-left .search-box .search-content .search-submit {
  width: 50px;
  height: 29px;
  margin-left: -1px;
  /*margin-top: 10px;   */
  background-color: #f16d7f;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
}

.wrapper .top .header .menu .menu-box .mb-left .search-box .search-content {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.wrapper .top .header .menu .menu-box .mb-left .search-box:hover .search-content {
  display: block;
}

.wrapper .top .header .menu .menu-box .mb-right {
  padding-top: 30px;
  width: 50%;
  /*height: $height-menu;*/
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /*justify-content: flex-end;*/
  /*border: 1px solid yellow;*/
}

.wrapper .top .header .menu .menu-box .mb-right .burger-box {
  position: relative;
  display: inline-block;
  z-index: 1;
}

@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box .mb-right .burger-box {
    padding-right: 16px;
  }
}

.wrapper .top .header .menu .menu-box .mb-right .burger-box .burger-content {
  position: relative;
  width: 232px;
  margin-top: 19px;
  padding-left: 33px;
  text-decoration: none;
  list-style-type: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  /*left: 0.5*($width-site/2);*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.wrapper .top .header .menu .menu-box .mb-right .burger-box .burger-content .close-button {
  background-color: #fff;
  border: none;
  /*padding-top: 16px;
                                    padding-right: 17px;*/
  position: absolute;
  top: 16px;
  right: 17px;
}

.wrapper .top .header .menu .menu-box .mb-right .burger-box .burger-content .bc-heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #000;
  margin-top: 37px;
  padding-top: 9px;
}

.wrapper .top .header .menu .menu-box .mb-right .burger-box .burger-content .bc-section {
  padding-top: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #f16d7f;
  list-style-type: none;
}

.wrapper .top .header .menu .menu-box .mb-right .burger-box .burger-content .bc-section .bc-section-title {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #f16d7f;
}

.wrapper .top .header .menu .menu-box .mb-right .burger-box .burger-content .bc-section .bc-section-rows {
  padding-left: 19px;
  padding-top: 12px;
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.wrapper .top .header .menu .menu-box .mb-right .burger-box .burger-content .bc-section .bc-section-rows .bc-row {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  color: #6F6E6E;
}

.wrapper .top .header .menu .menu-box .mb-right .burger-box .burger-content .bc-section .bc-section-rows .bc-row:hover {
  color: #f16d7f;
}

.wrapper .top .header .menu .menu-box .mb-right .burger-box:hover .burger-content {
  display: block;
}

.wrapper .top .header .menu .menu-box .mb-right .user {
  margin-left: 33px;
}

@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box .mb-right .user {
    display: none;
  }
}

.wrapper .top .header .menu .menu-box .mb-right .cart {
  margin-left: 33px;
  position: relative;
}

@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box .mb-right .cart {
    display: none;
  }
}

.wrapper .top .header .menu .menu-box .mb-right .cart .num {
  padding-top: 0;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  left: 22px;
  top: -11px;
  border-radius: 20px;
  background-color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #FFFFFF;
}

.wrapper .top .header .slide {
  margin: 0 auto;
  width: 100%;
  min-height: 764px;
  background-color: #F1E4E6;
  /*border: 1px solid red;*/
}

.wrapper .top .header .slide .slide-box {
  margin: 0 auto;
  width: 100%;
  min-height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid green;*/
  /*border: 1px solid green;*/
}

@media (max-width: 375px) {
  .wrapper .top .header .slide .slide-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 764px;
  }
}

.wrapper .top .header .slide .slide-box .sb-left {
  width: 50%;
  height: inherit;
  /*border: 1px solid blue;*/
  background-image: url(img/header-img-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .top .header .slide .slide-box .sb-left {
    width: 55%;
  }
}

@media (max-width: 375px) {
  .wrapper .top .header .slide .slide-box .sb-left {
    display: none;
  }
}

.wrapper .top .header .slide .slide-box .sb-right {
  margin: 0 auto;
  width: 50%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*border: 1px solid orange;*/
  /*min-height: 764px;
            height: auto;
            /*border: 1px solid yellow;*/
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .top .header .slide .slide-box .sb-right {
    width: 45%;
  }
}

@media (max-width: 375px) {
  .wrapper .top .header .slide .slide-box .sb-right {
    width: 100%;
  }
}

.wrapper .top .header .slide .slide-box .sb-right .title-box {
  width: auto;
  height: 12%;
  /*margin-top: 28%;*/
  /*margin-top: 290px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  /*border: 1px solid blue;*/
}

@media (max-width: 375px) {
  .wrapper .top .header .slide .slide-box .sb-right .title-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrapper .top .header .slide .slide-box .sb-right .title-box .art-line {
  width: 12px;
  background-color: #f16d7f;
}

.wrapper .top .header .slide .slide-box .sb-right .title-box .title {
  max-width: 377px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .top .header .slide .slide-box .sb-right .title-box .title .h-1 {
  max-width: 377px;
  height: 50%;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  margin: 0 auto;
  margin-left: 16px;
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .top .header .slide .slide-box .sb-right .title-box .title .h-1 {
    font-size: 44px;
    line-height: 53px;
  }
}

.wrapper .top .header .slide .slide-box .sb-right .title-box .title .h-2 {
  max-width: 377px;
  height: 50%;
  padding-top: 8px;
  font-weight: 700;
  font-size: 32px;
  color: #222222;
  white-space: nowrap;
  margin: 0 auto;
  margin-left: 16px;
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .top .header .slide .slide-box .sb-right .title-box .title .h-2 {
    font-size: 24px;
    line-height: 29px;
  }
}

.wrapper .top .main-box {
  margin: 0 auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 4px solid orange;*/
}

.wrapper .top .main-box .offer {
  margin: 65px auto 0;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  /*border: 4px solid blue;*/
  /*border: 1px solid red;*/
}

@media (max-width: 375px) {
  .wrapper .top .main-box .offer {
    margin: 32px auto 0;
  }
}

.wrapper .top .main-box .offer .offer-box {
  width: 71.25%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid green;*/
}

.wrapper .top .main-box .offer .offer-box .offer-top {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid blue;*/
}

@media (max-width: 375px) {
  .wrapper .top .main-box .offer .offer-box .offer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapper .top .main-box .offer .offer-box .offer-top .card {
  max-width: 360px;
  height: auto;
  position: relative;
  margin-right: 30px;
  /*border: 1px solid red;*/
}

@media (max-width: 375px) {
  .wrapper .top .main-box .offer .offer-box .offer-top .card {
    margin-top: 32px;
    margin-right: 0;
  }
}

.wrapper .top .main-box .offer .offer-box .offer-top .card .card-img {
  width: 100%;
  height: auto;
}

.wrapper .top .main-box .offer .offer-box .offer-top .card .card-text {
  margin: auto;
  width: 100%;
  position: absolute;
  top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*border: 1px solid orange;*/
}

.wrapper .top .main-box .offer .offer-box .offer-top .card .card-text .card-text-tag {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
  text-align: center;
}

.wrapper .top .main-box .offer .offer-box .offer-top .card .card-text .card-text-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #f16d7f;
  text-decoration: none;
  text-align: center;
}

.wrapper .top .main-box .offer .offer-box .offer-top .last {
  margin-right: 0;
}

.wrapper .top .main-box .offer .offer-box .offer-bottom {
  margin: 36px auto 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid green;*/
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 375px) {
  .wrapper .top .main-box .offer .offer-box .offer-bottom {
    z-index: 99;
    max-width: 360px;
    height: 111px;
    /*margin-top: 32px;*/
  }
}

.wrapper .top .main-box .offer .offer-box .offer-bottom .card-bottom {
  width: inherit;
  height: inherit;
  /*padding-top: 36px;*/
  position: relative;
  /*border: 1px solid blue;*/
}

@media (max-width: 375px) {
  .wrapper .top .main-box .offer .offer-box .offer-bottom .card-bottom {
    background-image: url(img/card-img-4-accesories.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.wrapper .top .main-box .offer .offer-box .offer-bottom .card-bottom .card-bottom-img {
  width: 100%;
  height: auto;
}

@media (max-width: 375px) {
  .wrapper .top .main-box .offer .offer-box .offer-bottom .card-bottom .card-bottom-img {
    display: none;
  }
}

.wrapper .top .main-box .offer .offer-box .offer-bottom .card-bottom .card-bottom-text {
  margin: auto;
  width: 100%;
  position: absolute;
  top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*border: 1px solid orange;*/
}

.wrapper .top .main-box .offer .offer-box .offer-bottom .card-bottom .card-bottom-text .card-bottom-text-tag {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
  text-align: center;
}

.wrapper .top .main-box .offer .offer-box .offer-bottom .card-bottom .card-bottom-text .card-bottom-text-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #f16d7f;
  text-decoration: none;
  text-align: center;
}

.wrapper .top .main-box .products {
  width: 100%;
  height: auto;
  margin: 96px auto 0;
  /*margin: 48px auto 0;*/
  /*border: 1px solid red;*/
}

@media (max-width: 375px) {
  .wrapper .top .main-box .products {
    margin: 64 auto 0;
  }
}

.wrapper .top .main-box .products .products-box {
  width: 71.25%;
  min-height: 582px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid green;*/
}

@media (max-width: 375px) {
  .wrapper .top .main-box .products .products-box {
    min-height: auto;
    margin: auto;
  }
}

.wrapper .top .main-box .products .products-box .pb-heading {
  margin: 0 auto;
  width: 71.25%;
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid yellow;*/
}

.wrapper .top .main-box .products .products-box .pb-heading .h-3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222;
}

.wrapper .top .main-box .products .products-box .pb-heading .h-3-parag {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  padding-top: 6px;
}

.wrapper .top .main-box .products .products-box .pb-items {
  margin: 48px 0 0;
  width: 100%;
  /*min-height: 582px;*/
  height: auto;
  /*padding-top: 48px;*/
  /*border: 1px solid green;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*flex-wrap: wrap;*/
  /*.item-img:hover{
                        
                        background-image:linear-gradient(rgba(0, 188, 212, 0.86),rgba(0, 188, 212, 0.86)), url(img/items-backshadow.png);
                        /*opacity: 0.2;
                        background-repeat: no-repeat;
                        background-position: inherit;
                        z-index: -2;                        
                    }*/
}

.wrapper .top .main-box .products .products-box .pb-items .item {
  width: 30%;
  /*min-height: 582px;*/
  height: 100%;
  margin-bottom: 30px;
  background-color: #F8F8F8;
  /*border: 1px solid blue;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*@media (min-width:375px) and (max-width:768px){
                            width: 47%;
                        }*/
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .top .main-box .products .products-box .pb-items .item {
    width: 47%;
  }
}

@media (max-width: 375px) {
  .wrapper .top .main-box .products .products-box .pb-items .item {
    width: 100%;
  }
}

.wrapper .top .main-box .products .products-box .pb-items .item .item-img {
  width: 100%;
  height: auto;
  position: relative;
}

.wrapper .top .main-box .products .products-box .pb-items .item .item-img__img {
  width: 100%;
  height: auto;
}

.wrapper .top .main-box .products .products-box .pb-items .item .item-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.wrapper .top .main-box .products .products-box .pb-items .item .item-img .item-cart-button {
  margin: 0 auto;
  position: absolute;
  min-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 25%;
  top: 45%;
  border: 1px solid #FFFFFF;
  opacity: 0;
}

.wrapper .top .main-box .products .products-box .pb-items .item .item-img .item-cart-button .item-cart-icon {
  width: 19%;
  padding: 11px 11px 9px 13px;
}

.wrapper .top .main-box .products .products-box .pb-items .item .item-img .item-cart-button .item-cart-link {
  width: 100%;
  padding-right: 13px;
  padding-top: 14px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.wrapper .top .main-box .products .products-box .pb-items .item .item-img:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.wrapper .top .main-box .products .products-box .pb-items .item .item-img:hover .item-cart-button {
  opacity: 1;
}

.wrapper .top .main-box .products .products-box .pb-items .item .item-content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .top .main-box .products .products-box .pb-items .item .item-content .h-4 {
  margin-left: 17px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  padding-top: 24px;
}

.wrapper .top .main-box .products .products-box .pb-items .item .item-content .h-4 .h-4-link {
  text-decoration: none;
  color: #000000;
}

.wrapper .top .main-box .products .products-box .pb-items .item .item-content .h-4-parag {
  margin-left: 17px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  padding-top: 13px;
}

.wrapper .top .main-box .products .products-box .pb-items .item .price-text {
  margin-left: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #f16d7f;
  padding-top: 18px;
  padding-bottom: 20px;
}

.wrapper .top .main-box .products .products-box .pb-button-box {
  margin: 48px auto 95px;
  /*border: 1px solid blue;*/
  width: 71.25%;
  min-height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .top .main-box .products .products-box .pb-button-box {
    margin: 33px auto 65px;
  }
}

.wrapper .top .main-box .products .products-box .pb-button-box .pb-button {
  margin: 0 auto;
  padding: 14px 38px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  text-decoration: none;
}

.wrapper .top .main-box .products .products-box .pb-button-box:hover .pb-button {
  background-color: #f16d7f;
  color: #fff;
}

.wrapper .footer {
  margin: 0 auto;
  width: 100%;
  min-height: 341px;
  background-color: #222222;
  /*border: 1px solid red;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .footer .feature {
  margin: 0 auto;
  width: 100%;
  min-height: 341px;
  background-color: #222;
  /*border: 1px solid red;*/
}

.wrapper .footer .feature .feature-box {
  width: 71.25%;
  min-height: 341px;
  margin: 0 auto;
  background-color: #222;
  /*border: 1px solid green;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .feature .feature-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 610px;
  }
}

.wrapper .footer .feature .feature-box .fb-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*border: 1px solid #eee;*/
}

.wrapper .footer .feature .feature-box .fb-block .fb-blok-img {
  margin: 0 auto;
  /*width: 45px;
                        height: 32px;*/
  padding-top: 103px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .feature .feature-box .fb-block .fb-blok-img {
    padding-top: 48px;
  }
}

.wrapper .footer .feature .feature-box .fb-block .fb-block-link {
  margin: 0 auto;
  padding-top: 28px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .footer .feature .feature-box .fb-block .fb-block-text {
  margin: 0 auto;
  padding-top: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
}

.wrapper .footer .subscribe {
  margin: 0 auto;
  width: 100%;
  min-height: 448px;
  background-image: url(img/footer-back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*border: 1px solid red;*/
}

.wrapper .footer .subscribe .subscribe-box {
  width: 71.25%;
  min-height: 448px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid green;*/
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 693px;
    width: 100%;
  }
}

.wrapper .footer .subscribe .subscribe-box .sb-left {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*border: 1px solid red;*/
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box .sb-left {
    width: 100%;
  }
}

.wrapper .footer .subscribe .subscribe-box .sb-left .sb-img {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  /*border: 1px solid green;*/
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box .sb-left .sb-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.wrapper .footer .subscribe .subscribe-box .sb-left .sb-img .sb-photo {
  margin: 0 auto;
  padding-top: 86px;
  padding-bottom: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  /*border: 1px solid blue;*/
}

.wrapper .footer .subscribe .subscribe-box .sb-left .sb-parag {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box .sb-left .sb-parag {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.wrapper .footer .subscribe .subscribe-box .sb-left .sb-parag .sb-parag-text {
  width: 360px;
  text-align: center;
  padding-bottom: 126px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #222224;
}

.wrapper .footer .subscribe .subscribe-box .sb-right {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box .sb-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.wrapper .footer .subscribe .subscribe-box .sb-right .sb-text {
  width: auto;
  height: auto;
  /*border: 1px solid blue;*/
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box .sb-right .sb-text {
    width: 100%;
  }
}

.wrapper .footer .subscribe .subscribe-box .sb-right .sb-text .sb-h-3 {
  padding-top: 150px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #222224;
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box .sb-right .sb-text .sb-h-3 {
    padding-top: 0px;
    font-size: 18px;
    line-height: 28px;
  }
}

.wrapper .footer .subscribe .subscribe-box .sb-right .sb-text .sb-h-4 {
  padding-bottom: 32px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #222224;
}

@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box .sb-right .sb-text .sb-h-4 {
    white-space: nowrap;
  }
}

.wrapper .footer .subscribe .subscribe-box .sb-right .sb-submit {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid green;
                        background-color: yellow;*/
}

.wrapper .footer .subscribe .subscribe-box .sb-right .sb-submit .sb-mail {
  max-width: 323px;
  height: 49px;
  background-color: #E1E1E1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  padding-top: 7px;
  padding-left: 22px;
}

.wrapper .footer .subscribe .subscribe-box .sb-right .sb-submit .sb-button {
  width: 100px;
  height: auto;
  background-color: #f16d7f;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  padding-top: 7px;
  text-align: center;
}

.wrapper .footer .copyright {
  margin: 0 auto;
  width: 100%;
  min-height: 79px;
  /*border: 1px solid red;*/
}

.wrapper .footer .copyright .copyright-box {
  margin: 0 auto;
  width: 71.25%;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*border: 1px solid green;*/
}

@media (max-width: 375px) {
  .wrapper .footer .copyright .copyright-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.wrapper .footer .copyright .copyright-box .allrights {
  width: auto;
  margin: auto 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  /*border: 1px solid white;*/
}

@media (max-width: 375px) {
  .wrapper .footer .copyright .copyright-box .allrights {
    text-align: center;
  }
}

.wrapper .footer .copyright .copyright-box .socials {
  width: 150px;
  height: auto;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*border: 1px solid orange;*/
}

@media (max-width: 375px) {
  .wrapper .footer .copyright .copyright-box .socials {
    margin: auto;
  }
}

.wrapper .footer .copyright .copyright-box .socials .sc-link {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .footer .copyright .copyright-box .socials .sc-link .fa-facebook {
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: #000;
  background-color: #fff;
  border: none;
  text-align: center;
}

.wrapper .footer .copyright .copyright-box .socials .sc-link .fa-facebook:hover {
  color: #fff;
  background-color: #f16d7f;
}

.wrapper .footer .copyright .copyright-box .socials .sc-link .fa-instagram {
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: #222;
  background-color: #fff;
  border: none;
  text-align: center;
}

.wrapper .footer .copyright .copyright-box .socials .sc-link .fa-instagram:hover {
  color: #fff;
  background-color: #f16d7f;
}

.wrapper .footer .copyright .copyright-box .socials .sc-link .fa-pinterest-p {
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: #222;
  background-color: #fff;
  text-align: center;
}

.wrapper .footer .copyright .copyright-box .socials .sc-link .fa-pinterest-p:hover {
  color: #fff;
  background-color: #f16d7f;
}

.wrapper .footer .copyright .copyright-box .socials .sc-link .fa-twitter {
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: #222;
  background-color: #fff;
  text-align: center;
}

.wrapper .footer .copyright .copyright-box .socials .sc-link .fa-twitter:hover {
  color: #fff;
  background-color: #f16d7f;
}
/*# sourceMappingURL=style-index.css.map */