* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top {
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
}
.wrapper .top .header {
  margin: 0 auto;
  width: 100%;
  min-height: 839px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header .menu {
  margin: 0 auto;
  width: 100%;
  height: 75px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header .menu .menu-box {
  margin: 0 auto;
  width: 71.25%;
  height: 75px;
  background-color: #222;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box {
    width: 100%;
  }
}
.wrapper .top .header .menu .menu-box__left {
  margin: 0;
  padding-top: 18px;
  width: 50%;
  background-color: #222;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top .header .menu .menu-box__left__logo {
  border: 1px;
}
@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box__left__logo {
    padding-left: 16px;
  }
}
.wrapper .top .header .menu .menu-box__left__search-box {
  margin: 0;
  padding-left: 21px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top .header .menu .menu-box__left__search-box__icon {
  margin: 0 auto;
}
.wrapper .top .header .menu .menu-box__left__search-box__content {
  margin: 0 20 0 auto;
  padding-left: 20px;
  display: none;
}
.wrapper .top .header .menu .menu-box__left__search-box__content__text {
  margin-right: -1px;
  padding-left: 20px;
  width: 156px;
  height: 29px;
  background-color: #e1e1e1;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  text-align: left;
}
.wrapper .top .header .menu .menu-box__left__search-box__content__submit {
  width: 50px;
  height: 29px;
  margin-left: -1px;
  background-color: #f16d7f;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}
.wrapper .top .header .menu .menu-box__left__search-box__content {
  transition: all 1s ease;
}
.wrapper .top .header .menu .menu-box__left__search-box:hover .menu-box__left__search-box__content {
  display: block;
}
.wrapper .top .header .menu .menu-box__right {
  padding-top: 30px;
  width: 50%;
  background-color: #222;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top .header .menu .menu-box__right__burger-box {
  position: relative;
  display: inline-block;
  z-index: 1;
}
@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box__right__burger-box {
    padding-right: 16px;
  }
}
.wrapper .top .header .menu .menu-box__right__burger-box__icon {
  margin: 0 auto;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content {
  position: relative;
  width: 232px;
  margin-top: 19px;
  padding-left: 33px;
  text-decoration: none;
  list-style-type: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  display: none;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__close-button {
  background-color: #fff;
  border: none;
  position: absolute;
  top: 16px;
  right: 17px;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #000;
  margin-top: 37px;
  padding-top: 9px;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__section {
  padding-top: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #f16d7f;
  list-style-type: none;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__section__title {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #f16d7f;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__section__rows {
  padding-left: 19px;
  padding-top: 12px;
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__section__rows__row {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  color: #6f6e6e;
}
.wrapper .top .header .menu .menu-box__right__burger-box__content__section__rows__row:hover {
  color: #f16d7f;
}
.wrapper .top .header .menu .menu-box__right__burger-box:hover .menu-box__right__burger-box__content {
  display: block;
}
.wrapper .top .header .menu .menu-box__right__user {
  margin-left: 33px;
}
@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box__right__user {
    display: none;
  }
}
.wrapper .top .header .menu .menu-box__right__cart {
  margin-left: 33px;
  position: relative;
}
@media (max-width: 375px) {
  .wrapper .top .header .menu .menu-box__right__cart {
    display: none;
  }
}
.wrapper .top .header .menu .menu-box__right__cart__num {
  padding-top: 0;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  left: 22px;
  top: -11px;
  border-radius: 20px;
  background-color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
}
.wrapper .top .header .slide {
  margin: 0 auto;
  width: 100%;
  min-height: 764px;
  background-color: #f1e4e6;
}
.wrapper .top .header .slide .slide-box {
  margin: 0 auto;
  width: 100%;
  min-height: 764px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  box-sizing: border-box;
}
@media (max-width: 375px) {
  .wrapper .top .header .slide .slide-box {
    justify-content: center;
    height: 764px;
  }
}
.wrapper .top .header .slide .slide-box__left {
  width: 50%;
  height: inherit;
  background-image: url(../../assets/images/photos/shop-in.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .top .header .slide .slide-box__left {
    width: 55%;
  }
}
@media (max-width: 375px) {
  .wrapper .top .header .slide .slide-box__left {
    display: none;
  }
}
.wrapper .top .header .slide .slide-box__right {
  margin: 0 auto;
  width: 50%;
  height: inherit;
  background-image: url(../../assets/images/backgrounds/slide-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .top .header .slide .slide-box__right {
    width: 45%;
  }
}
@media (max-width: 375px) {
  .wrapper .top .header .slide .slide-box__right {
    width: 100%;
  }
}
.wrapper .top .header .slide .slide-box__right__title-box {
  width: auto;
  height: 12%;
  display: flex;
  justify-content: start;
}
@media (max-width: 375px) {
  .wrapper .top .header .slide .slide-box__right__title-box {
    justify-content: center;
  }
}
.wrapper .top .header .slide .slide-box__right__title-box__art-line {
  width: 12px;
  background-color: #f16d7f;
}
.wrapper .top .header .slide .slide-box__right__title-box__title {
  max-width: 377px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .header .slide .slide-box__right__title-box__title__head-1 {
  margin: 0 auto;
  margin-left: 16px;
  max-width: 377px;
  height: 50%;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  color: #222222;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .top .header .slide .slide-box__right__title-box__title__head-1 {
    font-size: 44px;
    line-height: 53px;
  }
}
.wrapper .top .header .slide .slide-box__right__title-box__title__head-2 {
  margin: 0 auto;
  margin-left: 16px;
  padding-top: 8px;
  max-width: 377px;
  height: 50%;
  font-weight: 700;
  font-size: 32px;
  color: #222222;
  white-space: nowrap;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .top .header .slide .slide-box__right__title-box__title__head-2 {
    font-size: 24px;
    line-height: 29px;
  }
}
.wrapper .top .main-box {
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top .main-box .offer {
  margin: 65px auto 0;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
@media (max-width: 375px) {
  .wrapper .top .main-box .offer {
    margin: 32px auto 0;
  }
}
.wrapper .top .main-box .offer .offer-box {
  width: 71.25%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top .main-box .offer .offer-box__top {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .wrapper .top .main-box .offer .offer-box__top {
    flex-direction: column;
  }
}
.wrapper .top .main-box .offer .offer-box__top__card {
  max-width: 360px;
  height: auto;
  position: relative;
  margin-right: 30px;
}
@media (max-width: 375px) {
  .wrapper .top .main-box .offer .offer-box__top__card {
    margin-top: 32px;
    margin-right: 0;
  }
}
.wrapper .top .main-box .offer .offer-box__top__card__img {
  width: 100%;
  height: auto;
}
.wrapper .top .main-box .offer .offer-box__top__card__text {
  margin: auto;
  width: 100%;
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .main-box .offer .offer-box__top__card__text__tag {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
  text-align: center;
}
.wrapper .top .main-box .offer .offer-box__top__card__text__link {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #f16d7f;
  text-decoration: none;
  text-align: center;
}
.wrapper .top .main-box .offer .offer-box__top .last {
  margin-right: 0;
}
.wrapper .top .main-box .offer .offer-box__bottom {
  margin: 36px auto 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  flex-grow: 1;
}
@media (max-width: 375px) {
  .wrapper .top .main-box .offer .offer-box__bottom {
    z-index: 99;
    max-width: 360px;
    height: 111px;
  }
}
.wrapper .top .main-box .offer .offer-box__bottom__card {
  width: inherit;
  height: inherit;
  position: relative;
}
@media (max-width: 375px) {
  .wrapper .top .main-box .offer .offer-box__bottom__card {
    background-image: url(../../assets/images/photos/card-accesories-4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.wrapper .top .main-box .offer .offer-box__bottom__card__img {
  width: 100%;
  height: auto;
}
@media (max-width: 375px) {
  .wrapper .top .main-box .offer .offer-box__bottom__card__img {
    display: none;
  }
}
.wrapper .top .main-box .offer .offer-box__bottom__card__text {
  margin: auto;
  width: 100%;
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .main-box .offer .offer-box__bottom__card__text__tag {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
  text-align: center;
}
.wrapper .top .main-box .offer .offer-box__bottom__card__text__link {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #f16d7f;
  text-decoration: none;
  text-align: center;
}
.wrapper .top .main-box .products {
  width: 100%;
  height: auto;
  margin: 96px auto 0;
}
@media (max-width: 375px) {
  .wrapper .top .main-box .products {
    margin: 64 auto 0;
  }
}
.wrapper .top .main-box .products .products-box {
  width: 71.25%;
  min-height: 582px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media (max-width: 375px) {
  .wrapper .top .main-box .products .products-box {
    min-height: auto;
    margin: auto;
  }
}
.wrapper .top .main-box .products .products-box__heading {
  margin: 0 auto;
  width: 71.25%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .main-box .products .products-box__heading__head {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222;
}
.wrapper .top .main-box .products .products-box__heading__text {
  padding-top: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9f9f9f;
}
.wrapper .top .main-box .products .products-box__items {
  margin: 48px 0 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  flex-flow: row wrap;
}
.wrapper .top .main-box .products .products-box__items__item {
  width: 30%;
  height: 100%;
  margin-bottom: 30px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .top .main-box .products .products-box__items__item {
    width: 47%;
  }
}
@media (max-width: 375px) {
  .wrapper .top .main-box .products .products-box__items__item {
    width: 100%;
  }
}
.wrapper .top .main-box .products .products-box__items__item__item-img {
  width: 100%;
  height: auto;
  position: relative;
}
.wrapper .top .main-box .products .products-box__items__item__item-img__img {
  width: 100%;
  height: auto;
}
.wrapper .top .main-box .products .products-box__items__item__item-img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.wrapper .top .main-box .products .products-box__items__item__item-img__cart-button {
  margin: 0 auto;
  position: absolute;
  min-width: 40%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-around;
  left: 25%;
  top: 45%;
  border: 1px solid #ffffff;
  opacity: 0;
}
.wrapper .top .main-box .products .products-box__items__item__item-img__cart-button__icon {
  width: 19%;
  padding: 11px 11px 9px 13px;
}
.wrapper .top .main-box .products .products-box__items__item__item-img__cart-button__link {
  width: 100%;
  padding-right: 13px;
  padding-top: 14px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
  transition: opacity 0.5s ease;
}
.wrapper .top .main-box .products .products-box__items__item__item-img:hover .products-box__items__item__item-img__overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}
.wrapper .top .main-box .products .products-box__items__item__item-img:hover .products-box__items__item__item-img__cart-button {
  opacity: 1;
}
.wrapper .top .main-box .products .products-box__items__item__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .main-box .products .products-box__items__item__content__head {
  margin-left: 17px;
  padding-top: 24px;
  margin-left: 17px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  padding-top: 24px;
}
.wrapper .top .main-box .products .products-box__items__item__content__head__link {
  text-decoration: none;
  color: #000000;
}
.wrapper .top .main-box .products .products-box__items__item__content__text {
  margin-left: 17px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5d5d5d;
  padding-top: 13px;
}
.wrapper .top .main-box .products .products-box__items__item__price {
  margin-left: 17px;
}
.wrapper .top .main-box .products .products-box__items__item__price__text {
  padding-top: 18px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #f16d7f;
}
.wrapper .top .main-box .products .products-box__button-box {
  margin: 48px auto 95px;
  width: 71.25%;
  min-height: 47px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .top .main-box .products .products-box__button-box {
    margin: 33px auto 65px;
  }
}
.wrapper .top .main-box .products .products-box__button-box__button {
  margin: 0 auto;
  padding: 14px 38px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #f26376;
  border: 1px solid #ff6a6a;
  text-decoration: none;
}
.wrapper .top .main-box .products .products-box__button-box:hover .products-box__button-box__button {
  background-color: #f16d7f;
  color: #fff;
}
.wrapper .footer {
  margin: 0 auto;
  width: 100%;
  min-height: 341px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .feature {
  margin: 0 auto;
  width: 100%;
  min-height: 341px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .feature .feature-box {
  margin: 0 auto;
  width: 71.25%;
  min-height: 341px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #222;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .feature .feature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    justify-content: space-around;
    min-height: 610px;
  }
}
.wrapper .footer .feature .feature-box__block {
  margin: 0 auto;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.wrapper .footer .feature .feature-box__block__img {
  margin: 0 auto;
  align-self: center;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .feature .feature-box__block__img {
    padding-top: 48px;
  }
}
.wrapper .footer .feature .feature-box__block__link {
  margin: 0 auto;
  padding-top: 28px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #fbfbfb;
  text-decoration: none;
  align-items: center;
}
.wrapper .footer .feature .feature-box__block__text {
  margin: 0 auto;
  padding: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #fbfbfb;
  text-align: center;
}
.wrapper .footer .feature .feature-box .last {
  margin-right: 0;
}
.wrapper .footer .subscribe {
  margin: 0 auto;
  width: 100%;
  min-height: 448px;
  background-image: url(../../assets/images/backgrounds/footer-back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .footer .subscribe .subscribe-box {
  width: 71.25%;
  min-height: 448px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    min-height: 693px;
    width: 100%;
  }
}
.wrapper .footer .subscribe .subscribe-box__left {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__left {
    width: 100%;
  }
}
.wrapper .footer .subscribe .subscribe-box__left__img {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-self: flex-start;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__left__img {
    align-self: center;
  }
}
.wrapper .footer .subscribe .subscribe-box__left__img__photo {
  margin: 0 auto;
  padding-top: 86px;
  padding-bottom: 30px;
  align-self: center;
}
.wrapper .footer .subscribe .subscribe-box__left__parag {
  align-self: flex-start;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__left__parag {
    align-self: center;
  }
}
.wrapper .footer .subscribe .subscribe-box__left__parag__text {
  width: 360px;
  text-align: center;
  padding-bottom: 126px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #222224;
}
.wrapper .footer .subscribe .subscribe-box__right {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__right {
    justify-content: center;
    width: 100%;
  }
}
.wrapper .footer .subscribe .subscribe-box__right__text {
  width: auto;
  height: auto;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__right__text {
    width: 100%;
  }
}
.wrapper .footer .subscribe .subscribe-box__right__text__head-3 {
  padding-top: 150px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #222224;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__right__text__head-3 {
    padding-top: 0px;
    font-size: 18px;
    line-height: 28px;
  }
}
.wrapper .footer .subscribe .subscribe-box__right__text__head-4 {
  padding-bottom: 32px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #222224;
}
@media (min-width: 375px) and (max-width: 768px) {
  .wrapper .footer .subscribe .subscribe-box__right__text__head-4 {
    white-space: nowrap;
  }
}
.wrapper .footer .subscribe .subscribe-box__right__submit {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .subscribe .subscribe-box__right__submit__mail {
  max-width: 323px;
  height: 49px;
  background-color: #e1e1e1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  padding-top: 7px;
  padding-left: 22px;
}
.wrapper .footer .subscribe .subscribe-box__right__submit__button {
  width: 100px;
  height: auto;
  background-color: #f16d7f;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
  padding-top: 7px;
  text-align: center;
}
.wrapper .footer .copyright {
  margin: 0 auto;
  width: 100%;
  min-height: 79px;
}
.wrapper .footer .copyright .copyright-box {
  margin: 0 auto;
  width: 71.25%;
  height: 79px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .wrapper .footer .copyright .copyright-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column-reverse;
  }
}
.wrapper .footer .copyright .copyright-box__allrights {
  width: auto;
  margin: auto 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #fbfbfb;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
@media (max-width: 375px) {
  .wrapper .footer .copyright .copyright-box__allrights {
    text-align: center;
  }
}
.wrapper .footer .copyright .copyright-box__socials {
  width: 150px;
  height: auto;
  margin: auto 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .wrapper .footer .copyright .copyright-box__socials {
    margin: auto;
  }
}
.wrapper .footer .copyright .copyright-box__socials__link {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .copyright .copyright-box__socials__link__img {
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: #000;
  background-color: #fff;
  border: none;
  text-align: center;
}
.wrapper .footer .copyright .copyright-box__socials__link:hover .copyright-box__socials__link__img {
  background-color: #f16d7f;
}/*# sourceMappingURL=main.css.map */