@use "sass:math";

@import "../../assets/vars/sass/vars.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.wrapper {
  margin: 0 auto;
  width: $width-site;
  min-height: 100vh;
  @include flex-vertical();
  .top {
    margin: 0 auto;
    width: $width-site;
    flex-grow: 1;
    .header {
      margin: 0 auto;
      width: $width-site;
      min-height: $height-menu + $height-header;
      @include flex-vertical();
      .menu {
        margin: 0 auto;
        width: $width-site;
        height: $height-menu;
        background-color: #222;
        @include flex-vertical();
        .menu-box {
          margin: 0 auto;
          width: $width-box;
          height: $height-menu;
          background-color: #222;
          @include flex-horizontal();
          justify-content: space-between;
          @include media-mobile() {
            width: $width-site;
          }
          &__left {
            margin: 0;
            padding-top: 18px;
            width: 50%;
            background-color: #222;
            @include flex-horizontal();
            justify-content: flex-start;
            &__logo {
              border: 1px;
              @include media-mobile() {
                padding-left: 16px;
              }
            }
            &__search-box {
              margin: 0;
              padding-left: 21px;
              padding-top: 10px;
              @include flex-horizontal();
              justify-content: space-between;
              &__icon {
                margin: 0 auto;
              }
              &__content {
                margin: 0 20 0 auto;
                padding-left: 20px;
                display: none;
                &__text {
                  margin-right: -1px;
                  padding-left: 20px;
                  width: 156px;
                  height: 29px;
                  background-color: #e1e1e1;
                  border: none;
                  border-top-left-radius: 30px;
                  border-bottom-left-radius: 30px;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  color: #222224;
                  text-align: left;
                }
                &__submit {
                  width: 50px;
                  height: 29px;
                  margin-left: -1px;
                  background-color: $color-link-active;
                  border: none;
                  border-top-right-radius: 30px;
                  border-bottom-right-radius: 30px;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  color: #ffffff;
                  text-align: center;
                }
              }
              &__content {
                transition: all 1s ease;
              }
            }
            &__search-box:hover .menu-box__left__search-box__content {
              display: block;
            }
          }
          &__right {
            padding-top: 30px;
            width: 50%;
            background-color: #222;
            @include flex-horizontal();
            justify-content: flex-end;
            &__burger-box {
              position: relative;
              display: inline-block;
              z-index: 1;
              @include media-mobile() {
                padding-right: 16px;
              }
              &__icon {
                margin: 0 auto;
              }
              &__content {
                position: relative;
                width: 232px;
                margin-top: 19px;
                padding-left: 33px;
                text-decoration: none;
                list-style-type: none;
                background-color: #fff;
                position: absolute;
                left: 0;
                @include flex-vertical();
                display: none;
                &__close-button {
                  background-color: #fff;
                  border: none;
                  position: absolute;
                  top: 16px;
                  right: 17px;
                }
                &__heading {
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 17px;
                  color: #000;
                  margin-top: 37px;
                  padding-top: 9px;
                }
                &__section {
                  padding-top: 24px;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  color: $color-link-active;
                  list-style-type: none;
                  &__title {
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    color: $color-link-active;
                  }
                  &__rows {
                    padding-left: 19px;
                    padding-top: 12px;
                    text-decoration: none;
                    list-style-type: none;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    &__row {
                      text-decoration: none;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 17px * 2;
                      color: #6f6e6e;
                    }
                    &__row:hover {
                      color: $color-link-active;
                    }
                  }
                }
              }
            }
            &__burger-box:hover .menu-box__right__burger-box__content {
              display: block;
            }

            &__user {
              margin-left: 33px;
              @include media-mobile() {
                display: none;
              }
            }
            &__cart {
              margin-left: 33px;
              position: relative;
              @include media-mobile() {
                display: none;
              }
              &__num {
                padding-top: 0;
                width: $num-size-w;
                height: $num-size-h;
                border: none;
                position: absolute;
                left: ($cart-size-w)-0.5 * ($num-size-w);
                top: -(($num-size-h)-9px);
                border-radius: $num-size-h;
                background-color: $color-link-active;
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                color: #ffffff;
              }
            }
          }
        }
      }
      .header-content {
        margin: 0 auto;
        width: $width-site;
        height: $height-header;
        background-color: $color-header;
        @include flex-vertical();
        justify-content: space-between;
        .header-content-box {
          margin: 0 auto;
          width: $width-box;
          @include flex-horizontal();
          justify-content: space-between;
          &__left {
            width: 50%;
            height: $height-header;
            @include flex-vertical();
            &__heading {
              vertical-align: middle;
              font-size: 24px;
              font-weight: 400;
              line-height: 29px;
              color: $color-link-active;
              align-content: flex-start;
            }
          }
          &__right {
            width: 50%;
            height: $height-header;
            @include flex-vertical();
            &__path {
              width: auto;
              @include flex-horizontal();
              justify-content: flex-end;
              flex-wrap: wrap;
              list-style-type: none;
              &__path-point {
                font-size: 14px;
                font-weight: 300;
                line-height: 17px;
                color: $color-path;
                &__link {
                  font-size: 14px;
                  font-weight: 300;
                  line-height: 17px;
                  color: $color-path;
                  text-decoration: none;
                }
              }
              &__path-point:last-child
                .header-content-box__right__path__path-point__link {
                font-weight: 700;
                color: $color-link-active;
              }
              &__path-point:hover
                .header-content-box__right__path__path-point__link {
                color: $color-link-active;
              }
            }
          }
        }
      }
    }
    .main-box {
      margin: 0 auto;
      width: $width-box;
      height: auto;
      @include flex-vertical();
      background-color: $color-site;
      .cart-block {
        margin: 0 auto;
        @include flex-vertical();
        display: flex;
        .cart {
          margin-top: 96px;
          margin-bottom: 72px;
          margin-left: 0;
          margin-right: 0;
          width: 100%;
          height: auto;
          @include flex-horizontal();
          justify-content: space-between;
          flex-wrap: wrap;
          &__left {
            width: 57%;
            @include flex-vertical();
            justify-content: space-between;
            &__block {
              margin-bottom: 40px;
              @include flex-horizontal();
              justify-content: space-between;
              box-shadow: 8px 8px 10px 8px lighten($color-input-border, 25%);
              &__item-img {
                width: 100%;
              }
              &__item-text {
                width: 56%;
                @include flex-vertical();
                justify-content: space-around;

                &__heading {
                  margin-top: 7%;
                  margin-bottom: 10%;
                  padding-left: 21px;
                  @include flex-horizontal();
                  justify-content: space-between;
                  position: relative;
                  &__head-3 {
                    max-width: 67%;
                    text-decoration: none;
                    @include text-font(18px, 400, 20px);
                    color: #222;
                  }
                  &__close-button {
                    background-color: #fff;
                    border: none;
                    position: absolute;
                    top: 5px;
                    right: 10px;
                  }
                }
                &__data {
                  width: inherit;
                  height: inherit;
                  padding-left: 21px;
                  @include flex-vertical();
                  &__box {
                    margin: 0;
                    height: auto;
                    @include flex-horizontal();
                    justify-content: flex-start;
                    &__label {
                      @include text-font(18px, 400, 17px);
                      &__quantity {
                        @include text-font(18px, 400, 17px);
                        margin-bottom: 32px;
                      }
                    }
                    &__price {
                      @include text-font(18px, 400, 17px);
                      color: $color-link-active;
                      border: none;
                      max-width: 40%;
                    }
                    &__item-data {
                      max-width: 40%;
                      @include text-font(18px, 400, 17px);
                      border: none;
                      text-align: center;
                      &__price {
                        @include text-font(18px, 400, 17px);
                        color: $color-link-active;
                        border: none;
                        max-width: 40%;
                      }
                      &__quantity {
                        margin-bottom: 32px;
                        padding-left: 10px;
                        @include text-font(18px, 400, 17px);
                        border: 1px solid $color-input-border;
                        max-width: 20%;
                        text-align: center;
                      }
                    }
                  }
                }
              }
            }
          }
          &__right {
            width: 32%;
            @include flex-vertical();
            justify-content: space-between;
            &__top {
              height: 48%;
              @include flex-vertical();
              justify-content: flex-start;
              &__heading {
                margin-top: 5px;
                @include text-font(16px, 300, 19px);
                color: $color-form-heading;
              }
              &__data2 {
                margin-top: 11px;
                width: 93%;
                height: $height-input;
                padding-left: 17px;
                @include text-font(13px, 300, 16px);
                color: $color-input-text;
                border: 1px solid $color-input-border;
              }
              &__data2::placeholder {
                color: $color-input-placeholder;
              }
              &__button-box {
                margin-top: 14px;
                width: inherit;
                height: $height-input * 0.7;
                @include flex-horizontal();
                justify-content: flex-start;

                &__quote-button {
                  margin: 0;
                  padding: 10px 14px;
                  text-align: center;
                  font-size: 11px;
                  font-weight: 300;
                  line-height: 13px;
                  color: $color-input-border;
                  border: 1px solid $color-input-border;
                  background-color: $color-site;
                  text-decoration: none;
                }
                &__quote-button:hover {
                  color: $color-link-active;
                  border-color: $color-link-active;
                }
              }
            }
            &__bottom {
              height: 48%;
              @include flex-vertical();
              justify-content: flex-start;
              &__totals-box {
                min-height: $height-input * 3;
                background-color: darken($color-site, 5%);
                @include flex-vertical();
                justify-content: space-around;
                &__block {
                  @include flex-horizontal();
                  justify-content: flex-end;
                  &__label {
                    margin-top: 39px;
                    @include text-font(11px, 400, 13px);
                    color: lighten($color-input-text, 29%);
                    &__grand {
                      margin-top: 12px;
                      @include text-font(16px, 300, 19px);
                      color: lighten($color-input-text, 29%);
                    }
                  }
                  &__cart-total {
                    margin-top: 39px;
                    margin-right: 12%;
                    max-width: 15%;
                    @include text-font(11px, 400, 13px);
                    color: lighten($color-input-text, 29%);
                    background-color: darken($color-site, 5%);
                    border: none;
                    text-align: right;
                    &__grand {
                      margin-top: 12px;
                      margin-right: 12%;
                      max-width: 24%;
                      @include text-font(16px, 700, 19px);
                      color: $color-link-active;
                      background-color: darken($color-site, 5%);
                      border: none;
                      text-align: right;
                    }
                  }
                }
                &__line {
                  display: inline;
                  max-width: 76%;
                  color: #e2e2e2;
                  margin-left: 12%;
                  margin-top: 21px;
                }
                &__button-box {
                  margin: 17px 12% 42px 12%;
                  width: inherit;
                  height: auto;
                  @include flex-horizontal();
                  &__total-button {
                    margin: 0;
                    padding: 16px 42px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 19px;
                    color: #fff;
                    border: 1px solid $color-link-active;
                    background-color: $color-link-active;
                    text-decoration: none;
                  }
                  &__total-button:hover {
                    color: $color-link-active;
                    background-color: darken($color-site, 5%);
                  }
                }
              }
            }
          }
        }
        .cart-button-block {
          margin-bottom: 128px;
          height: $height-input * 1.11;
          @include flex-horizontal();
          justify-content: space-between;
          &__left {
            width: 57%;
            @include flex-horizontal();
            justify-content: space-between;
            &__general-box {
              margin: 0;
              min-width: 36%;
              min-height: 50px;
              @include flex-horizontal();
              &__button {
                margin: 0 auto;
                padding: 13px 19px;
                text-align: center;
                font-size: 14px;
                font-weight: 300;
                line-height: 17px;
                color: $color-input-border;
                border: 1px solid $color-input-border;
                background-color: $color-site;
                text-decoration: none;
              }
              &__button:hover {
                color: $color-link-active;
                border-color: $color-link-active;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    margin: 0 auto;
    width: $width-site;
    min-height: 341px;
    background-color: $color-menu;
    @include flex-vertical();
    .subscribe {
      margin: 0 auto;
      width: $width-site;
      min-height: 448px;
      background-image: url(../../assets/images/backgrounds/footer-back.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      .subscribe-box {
        width: $width-box;
        min-height: 448px;
        margin: 0 auto;
        @include flex-horizontal();
        justify-content: space-between;
        @include media-tablet() {
          @include flex-vertical();
          min-height: 693px;
          width: $width-site;
        }
        &__left {
          width: 50%;
          margin: 0 auto;
          @include flex-vertical();
          @include media-tablet() {
            width: $width-site;
          }
          &__img {
            width: 360px;
            @include flex-vertical();
            align-self: flex-start;
            @include media-tablet() {
              align-self: center;
            }
            &__photo {
              margin: 0 auto;
              padding-top: 86px;
              padding-bottom: 30px;
              align-self: center;
            }
          }
          &__parag {
            align-self: flex-start;
            @include media-tablet() {
              align-self: center;
            }
            &__text {
              width: 360px;
              text-align: center;
              padding-bottom: 126px;
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;
              color: #222224;
            }
          }
        }
        &__right {
          width: 50%;
          margin: 0 auto;
          @include flex-vertical();
          justify-content: flex-start;
          @include media-tablet() {
            justify-content: center;
            width: $width-site;
          }
          &__text {
            width: auto;
            height: auto;
            @include media-tablet() {
              width: $width-site;
            }
            &__head-3 {
              padding-top: 150px;
              text-align: center;
              font-size: 24px;
              font-weight: 700;
              line-height: 40px;
              color: #222224;
              @include media-tablet() {
                padding-top: 0px;
                font-size: 18px;
                line-height: 28px;
              }
            }
            &__head-4 {
              padding-bottom: 32px;
              text-align: center;
              font-size: 18px;
              font-weight: 400;
              line-height: 30px;
              color: #222224;
              @include media-tablet() {
                white-space: nowrap;
              }
            }
          }

          &__submit {
            width: auto;
            height: auto;
            @include flex-horizontal();
            &__mail {
              max-width: 323px;
              height: 49px;
              background-color: #e1e1e1;
              border-top-left-radius: 30px;
              border-bottom-left-radius: 30px;
              border: none;
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              color: #222224;
              opacity: 0.67;
              padding-top: 7px;
              padding-left: 22px;
            }
            &__button {
              width: 100px;
              height: auto;
              background-color: $color-link-active;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;
              border: none;
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              color: #ffffff;
              padding-top: 7px;
              text-align: center;
            }
          }
        }
      }
    }
    .copyright {
      margin: 0 auto;
      width: $width-site;
      min-height: 79px;
      .copyright-box {
        margin: 0 auto;
        width: $width-box;
        height: 79px;
        @include flex-horizontal();
        justify-content: space-between;
        @include media-mobile() {
          @include flex-vertical();
          flex-direction: column-reverse;
        }
        &__allrights {
          width: auto;
          margin: auto 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          color: #fbfbfb;
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          @include media-mobile() {
            text-align: center;
          }
        }
        &__socials {
          width: 150px;
          height: auto;
          margin: auto 0;
          @include flex-horizontal();
          justify-content: space-between;
          @include media-mobile() {
            margin: auto;
          }
          &__link {
            margin: 0;
            padding: 0;
            width: 32px;
            height: 32px;
            background-color: #ffffff;
            border: none;
            @include flex-vertical();
            &__img {
              width: 32px;
              height: 32px;
              font-size: 16px;
              line-height: 32px;
              color: #000;
              background-color: #fff;
              border: none;
              text-align: center;
            }
          }
          &__link:hover .copyright-box__socials__link__img {
            background-color: $color-link-active;
          }
        }
      }
    }
  }
}
