@use "sass:math";

$width-site-maket: 1600px;
$width-box-maket: 1140px;
/*$width-site:100%;*/
$width-site: 100%;
$width-box: math.div($width-box-maket, $width-site-maket) * $width-site;
$height-site: 100vh;
$height-menu: 75px;
$height-slide: 764px;
$height-header: 148px;
$height-main-heading: 132px;
$color-site: #ffffff;
$color-menu: #222222;
$color-slide: #f1e4e6;
$color-header: #f8f3f4;
$color-link-active: #f16d7f;
$color-path: #636363;
$color-filter: #6f6e6e;
$cart-size-w: 32px;
$cart-size-h: 29px;
$num-size-w: 20px;
$num-size-h: 20px;
$num-position-top: $num-size-h*0.5;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.wrapper {
  margin: 0 auto;
  width: $width-site;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .top {
    margin: 0 auto;
    width: $width-site;
    flex-grow: 1;
    .header {
      margin: 0 auto;
      width: $width-site;
      min-height: $height-menu + $height-header;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .menu {
        margin: 0 auto;
        width: $width-site;
        height: $height-menu;
        background-color: #222;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .menu-box {
          margin: 0 auto;
          width: $width-box;
          height: $height-menu;
          background-color: #222;
          display: flex;
          justify-content: space-between;
          .mb-left {
            margin: 0;
            padding-top: 18px;
            width: 50%;
            background-color: #222;
            display: flex;
            justify-content: flex-start;
            .logo {
              border: 1px;
            }
            .search-box {
              margin: 0;
              padding-left: 21px;
              padding-top: 10px;
              display: flex;
              justify-content: space-between;

              .search-content {
                margin: 0 20 0 auto;
                padding-left: 20px;
                display: none;
                .search-text {
                  margin-right: -1px;
                  padding-left: 20px;
                  width: 156px;
                  height: 29px;
                  background-color: #e1e1e1;
                  border: none;
                  border-top-left-radius: 30px;
                  border-bottom-left-radius: 30px;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  color: #222224;
                  text-align: left;
                }
                .search-submit {
                  width: 50px;
                  height: 29px;
                  margin-left: -1px;
                  background-color: $color-link-active;
                  border: none;
                  border-top-right-radius: 30px;
                  border-bottom-right-radius: 30px;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  color: #ffffff;
                  text-align: center;
                }
              }
              .search-content {
                transition: all 1s ease;
              }
            }
            .search-box:hover .search-content {
              display: block;
            }
          }
          .mb-right {
            padding-top: 30px;
            width: 50%;
            background-color: #222;
            display: flex;
            justify-content: flex-end;
            .burger-box {
              position: relative;
              display: inline-block;
              z-index: 1;

              .burger-content {
                position: relative;
                width: 232px;
                margin-top: 19px;
                padding-left: 33px;
                text-decoration: none;
                list-style-type: none;
                background-color: #fff;
                position: absolute;
                left: 0;
                display: flex;
                flex-direction: column;
                display: none;
                .close-button {
                  background-color: #fff;
                  border: none;
                  position: absolute;
                  top: 16px;
                  right: 17px;
                }
                .bc-heading {
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 17px;
                  color: #000;
                  margin-top: 37px;
                  padding-top: 9px;
                }
                .bc-section {
                  padding-top: 24px;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  color: $color-link-active;
                  list-style-type: none;
                  .bc-section-title {
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    color: $color-link-active;
                  }
                  .bc-section-rows {
                    padding-left: 19px;
                    padding-top: 12px;
                    text-decoration: none;
                    list-style-type: none;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    .bc-row {
                      text-decoration: none;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 17px * 2;
                      color: #6f6e6e;
                    }
                    .bc-row:hover {
                      color: $color-link-active;
                    }
                  }
                }
              }
            }
            .burger-box:hover .burger-content {
              display: block;
            }

            .user {
              margin-left: 33px;
            }
            .cart {
              margin-left: 33px;
              position: relative;
              .num {
                padding-top: 0;
                width: $num-size-w;
                height: $num-size-h;
                border: none;
                position: absolute;
                left: ($cart-size-w)-1*0.5 * ($num-size-w);
                top: -(($num-size-h)-9px);
                border-radius: $num-size-h;
                background-color: $color-link-active;
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                color: #ffffff;
              }
            }
          }
        }
      }
      .header-content {
        margin: 0 auto;
        width: $width-site;
        height: $height-header;
        background-color: $color-header;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        .hc-box {
          margin: 0 auto;
          width: $width-box;
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
          .hc-left {
            width: 50%;
            height: $height-header;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .hc-heading {
              vertical-align: middle;
              font-size: 24px;
              font-weight: 400;
              line-height: 29px;
              color: $color-link-active;
              align-content: flex-start;
            }
          }
          .hc-right {
            width: 50%;
            height: $height-header;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .hc-path {
              width: auto;
              display: flex;
              justify-content: flex-end;
              flex-wrap: wrap;
              list-style-type: none;
              .path-point {
                font-size: 14px;
                font-weight: 300;
                line-height: 17px;
                color: $color-path;
                .pp-link {
                  font-size: 14px;
                  font-weight: 300;
                  line-height: 17px;
                  color: $color-path;
                  text-decoration: none;
                }
              }
              .path-point:last-child .pp-link {
                font-weight: 700;
                color: $color-link-active;
              }
              .path-point:hover .pp-link {
                color: $color-link-active;
              }
            }
          }
        }
      }
    }
    .main-box {
      margin: 0 auto;
      width: $width-box;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color-site;
      .products-filter {
        width: 100%;
        height: auto;
        height: $height-main-heading;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .pf-box {
          display: flex;
          justify-content: space-between;
          /*начало стилей для меню фильтра*/
          .filter {
            width: 30%;
            align-items: flex-start;
            position: relative;
            display: inline-block;
            z-index: 1;
            .filter-heading {
              margin-left: 11px;
              text-decoration: none;
              font-size: 14px;
              font-weight: 600;
              line-height: 17px;
              color: #000;
            }
            .filter-button {
              margin-left: 11px;
              background-color: $color-site;
              border: none;
            }
            .filter-content {
              position: relative;
              width: 100%;
              margin-top: -16px;
              margin-left: -4px;
              padding-left: 0;
              text-decoration: none;
              list-style-type: none;
              background-color: $color-site;
              position: absolute;
              left: 0;
              display: flex;
              flex-direction: column;
              box-shadow: 5px 5px 10px 10px #e5e5e5;
              /* здесь видимость меню*/
              display: none;
              .filter-title {
                margin: 0 auto;
                display: flex;
                justify-content: flex-start;
                .filter-h-4 {
                  padding-right: 11px;
                  padding-left: 16px;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 17px;
                  color: $color-link-active;
                }
                .filter-img-red {
                  padding-right: 11px;
                }
              }
              .filter-content-section {
                margin-top: 16px;
                list-style-type: none;
                text-decoration: none;
                .filter-section-decor {
                  margin: 0 auto;
                  width: auto;
                  height: auto;
                  display: flex;
                  justify-content: flex-start;
                  position: relative;
                  .filter-section-line {
                    padding-left: 11px;
                    position: absolute;
                    top: 0;
                    left: auto;
                  }
                  .accor-block {
                    margin-top: 0px;
                    margin-left: 22px;

                    .filter-section-point {
                      margin-top: 11px;
                      padding-left: 11px;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 17px;
                      color: #6f6e6e;
                      display: none;
                    }
                    .filter-section-point-label {
                      padding-top: 11px;
                      padding-left: 11px;
                      z-index: 10;
                      display: block;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 17px;
                      cursor: pointer;
                      color: #6f6e6e;
                    }
                    .accor-1 {
                      margin-top: 14px;
                      overflow: hidden;
                      height: 0;
                      z-index: 10;
                      transition: height 0.3s ease-in-out;
                    }
                    .filter-section-list {
                      margin-top: 10px;
                      margin-bottom: 13px;
                      padding-left: 30px;
                      height: auto;
                      text-decoration: none;
                      list-style-type: none;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 17px;
                      .filter-section-row {
                        margin-bottom: 11px;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        color: #6f6e6e;
                      }
                      .filter-section-row:hover {
                        color: $color-link-active;
                      }
                    }
                  }
                  .filter-section-point:checked + label {
                    color: $color-link-active;
                  }
                  .filter-section-point:checked ~ article {
                    transition: height 0.5s ease-in-out;
                    height: 100px;
                  }
                }
              }
            }
          }
          .filter:hover .filter-content {
            display: block;
          }
          /*конец стилей для меню фильтра*/
          .filter-list {
            margin: 0 auto;
            width: 70%;

            .fl-items {
              display: flex;
              justify-content: flex-start;
              box-sizing: border-box;
              .fl-point {
                list-style-type: none;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                display: flex;
                justify-content: center;
                box-sizing: border-box;
                /* добавляем стили фильтра с чекбоксами*/
                .fl-link-box {
                  position: relative;
                  display: inline-block;
                  z-index: 3;
                  background-color: $color-site;
                  .fl-link {
                    text-decoration: none;
                    color: $color-filter;
                  }
                  .fl-link:hover {
                    color: $color-link-active;
                  }
                  .fl-link-content {
                    position: relative;
                    min-width: 79px;
                    padding-left: 0;
                    text-decoration: none;
                    list-style-type: none;
                    background-color: $color-site;
                    box-shadow: 5px 5px 10px 10px #e5e5e5;
                    position: absolute;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    /* здесь настройка видимости фильтра*/
                    display: none;
                    .fl-link-section {
                      padding-top: 9px;
                      padding-bottom: 9px;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 16px;
                      color: #6f6e6e;
                      list-style-type: none;
                      .fl-link-row {
                        padding-left: 9px;
                        padding-top: 9px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                        color: #6f6e6e;
                        .filter-check {
                          font-size: 14px;
                          font-weight: 400;
                          line-height: 16px;
                          color: #6f6e6e;
                        }
                      }
                    }
                  }
                }
                .fl-link-box:hover .fl-link-content {
                  display: block;
                }
                /* конец добавления стилей фильтра с чекбоксами*/
                .fl-button {
                  border: none;
                  background-color: $color-site;
                  margin-left: 10px;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
      .catalog {
        width: 100%;
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .pb-items {
          margin: 0;
          width: 100%;
          min-height: 582px;
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
          flex-wrap: wrap;
          .item {
            width: 30%;
            height: 100%;
            margin-bottom: 30px;
            background-color: #f8f8f8;
            display: flex;
            flex-direction: column;
            .item-img {
              width: 100%;
              height: auto;
              position: relative;
              &__img {
                width: 100%;
                height: auto;
              }
              .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: #000000, $alpha: 0);
                transition: background 0.5s ease;
              }
              .item-cart-button {
                margin: 0 auto;
                position: absolute;
                min-width: 40%;
                display: flex;
                justify-content: space-around;
                box-sizing: border-box;
                left: 25%;
                top: 45%;
                border: 1px solid $color-site;
                opacity: 0;
                .item-cart-icon {
                  width: 19%;
                  padding: 11px 11px 9px 13px;
                }
                .item-cart-link {
                  width: 100%;
                  padding-right: 13px;
                  padding-top: 14px;
                  text-decoration: none;
                  text-align: center;
                  white-space: nowrap;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  color: $color-site;
                  transition: opacity 0.5s ease;
                }
              }
            }

            .item-img:hover .overlay {
              display: block;
              background: rgba($color: #000000, $alpha: 0.5);
            }
            .item-img:hover .item-cart-button {
              opacity: 1;
            }
            .h-4 {
              margin-left: 17px;
              font-size: 13px;
              font-weight: 400;
              line-height: 16px;
              color: #000000;
              padding-top: 24px;
              .h-4-link {
                text-decoration: none;
                color: #000000;
              }
            }
            .h-4-parag {
              margin-left: 17px;
              font-size: 14px;
              font-weight: 300;
              line-height: 17px;
              color: #5d5d5d;
              padding-top: 13px;
            }
            .price-text {
              margin-left: 17px;
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              color: $color-link-active;
              padding-top: 18px;
              padding-bottom: 20px;
            }
          }
        }
      }
      .pagination {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        .pagination-box {
          min-width: 283px;
          margin-top: 49px;
          margin-bottom: 96px;
          display: flex;
          justify-content: center;
          .pages-list {
            width: auto;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            list-style-type: none;
            padding-top: 12px;
            padding-bottom: 12px;
            .pl-item {
              margin-left: 10px;
              margin-right: 10px;
              .pl-button {
                background-color: $color-site;
                border: none;
                font-size: 16px;
                font-weight: 300;
                line-height: 19px;
                color: $color-path;
                &__left {
                  background-color: $color-site;
                  border: none;
                  font-size: 24px;
                  font-weight: 600;
                  line-height: 17px;
                  color: $color-path;
                }
                &__left:hover {
                  color: $color-link-active;
                }
                &__right {
                  background-color: $color-site;
                  border: none;
                  font-size: 24px;
                  font-weight: 600;
                  line-height: 17px;
                  color: $color-path;
                }
                &__right:hover {
                  color: $color-link-active;
                }
              }
              .pl-button:hover {
                color: $color-link-active;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    margin: 0 auto;
    width: $width-site;
    min-height: 341px;
    background-color: $color-menu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .feature {
      margin: 0 auto;
      width: $width-site;
      min-height: 341px;
      background-color: #222;
      .feature-box {
        width: $width-box;
        height: 341px;
        margin: 0 auto;
        background-color: #222;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        .fb-block {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .fb-blok-img {
            margin: 0 auto;
            padding-top: 103px;
            align-self: center;
          }
          .fb-block-link {
            margin: 0 auto;
            padding-top: 28px;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: #fbfbfb;
            text-decoration: none;
            align-items: center;
          }
          .fb-block-text {
            margin: 0 auto;
            padding-top: 16px;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            color: #fbfbfb;
            text-align: center;
          }
        }
      }
    }
    .subscribe {
      margin: 0 auto;
      width: $width-site;
      min-height: 448px;
      //background-image: url(../img/footer-back.png);
      background-image: url(../../assets/images/backgrounds/footer-back.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      .subscribe-box {
        width: $width-box;
        height: 448px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        .sb-left {
          width: 50%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .sb-img {
            width: 360px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: flex-start;
            .sb-photo {
              margin: 0 auto;
              padding-top: 86px;
              padding-bottom: 30px;
              align-self: center;
            }
          }
          .sb-parag {
            align-self: flex-start;
            .sb-parag-text {
              width: 360px;
              text-align: center;
              padding-bottom: 126px;
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;
              color: #222224;
            }
          }
        }
        .sb-right {
          width: 50%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          box-sizing: border-box;
          .sb-text {
            width: auto;
            height: auto;
            .sb-h-3 {
              padding-top: 150px;
              text-align: center;
              font-size: 24px;
              font-weight: 700;
              line-height: 40px;
              color: #222224;
            }
            .sb-h-4 {
              padding-bottom: 32px;
              text-align: center;
              font-size: 18px;
              font-weight: 400;
              line-height: 30px;
              color: #222224;
            }
          }

          .sb-submit {
            width: auto;
            height: auto;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            .sb-mail {
              max-width: 323px;
              height: 49px;
              background-color: #e1e1e1;
              border-top-left-radius: 30px;
              border-bottom-left-radius: 30px;
              border: none;
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              color: #222224;
              opacity: 0.67;
              padding-top: 7px;
              padding-left: 22px;
            }
            .sb-button {
              width: 100px;
              height: auto;
              background-color: $color-link-active;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;
              border: none;
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
              color: #ffffff;
              padding-top: 7px;
              text-align: center;
            }
          }
        }
      }
    }
    .copyright {
      margin: 0 auto;
      width: $width-site;
      min-height: 79px;
      .copyright-box {
        margin: 0 auto;
        width: $width-box;
        height: 79px;
        display: flex;
        justify-content: space-between;
        .allrights {
          width: auto;
          margin: auto 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          color: #fbfbfb;
          display: inline-block;
          vertical-align: middle;
          text-align: left;
        }
        .socials {
          width: 150px;
          height: auto;
          margin: auto 0;
          display: flex;
          justify-content: space-between;
          .sc-link {
            margin: 0;
            padding: 0;
            width: 32px;
            height: 32px;
            background-color: #ffffff;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .fa-facebook {
              width: 32px;
              height: 32px;
              font-size: 16px;
              line-height: 32px;
              color: #000;
              background-color: #fff;
              border: none;
              text-align: center;
            }
            .fa-facebook:hover {
              color: #fff;
              background-color: $color-link-active;
            }
            .fa-instagram {
              width: 32px;
              height: 32px;
              font-size: 16px;
              line-height: 32px;
              color: #222;
              background-color: #fff;
              border: none;
              text-align: center;
            }
            .fa-instagram:hover {
              color: #fff;
              background-color: $color-link-active;
            }
            .fa-pinterest-p {
              width: 32px;
              height: 32px;
              font-size: 16px;
              line-height: 32px;
              color: #222;
              background-color: #fff;
              text-align: center;
            }
            .fa-pinterest-p:hover {
              color: #fff;
              background-color: $color-link-active;
            }
            .fa-twitter {
              width: 32px;
              height: 32px;
              font-size: 16px;
              line-height: 32px;
              color: #222;
              background-color: #fff;
              text-align: center;
            }
            .fa-twitter:hover {
              color: #fff;
              background-color: $color-link-active;
            }
          }
        }
      }
    }
  }
} /*назначение - wrapper*/
